@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  overflow: hidden;
  user-select: none;
}

#audio-start-screen {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
}

#content-wrapper {
  max-width: 42rem;
  height: 60%;
  width: 50%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  max-height: 50rem;
}
#content-wrapper #banner-wrapper {
  width: 100%;
  background-color: blue;
  height: 30%;
  border-radius: 1rem 1rem 0 0;
}
#content-wrapper #info-wrapper {
  color: white;
  width: 100%;
  height: 70%;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#content-wrapper #info-wrapper #user-info {
  position: relative;
  top: -3.5rem;
}
#content-wrapper #info-wrapper #user-info p {
  font-size: 2rem;
  font-weight: 600;
}
#content-wrapper #info-wrapper #profile-picture {
  position: absolute;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 7rem;
  border-radius: 999px;
}

#audio-player {
  display: none;
}

#audio-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
}
#audio-wrapper #audio-progress {
  height: 1rem;
  width: 55%;
  vertical-align: middle;
}
#audio-wrapper a {
  color: white;
}
#audio-wrapper a span {
  font-size: 2rem;
  padding: none;
  vertical-align: middle;
  line-height: 1.6;
}
#audio-wrapper a:visited {
  color: inherit;
}

#audio-controls {
  position: relative; /* Create a new stacking context */
}

#volume-button {
  position: relative; /* Create a new stacking context */
  padding-bottom: 10px; /* Add padding to the bottom of the volume button */
  text-decoration: none; /* Remove the underline from the link */
}

#volume-button:hover * {
  visibility: visible; /* Show the volume slider when hovering over the volume button or the slider itself */
}

#volume-wrapper {
  visibility: hidden; /* Hide the volume slider by default */
  position: absolute;
  bottom: 150%; /* Position it further above the volume button */
  left: 50%; /* Move the left edge to the center of the volume button */
  transform: translateX(-55%); /* Align it with the left edge of the volume button */
  height: 200%;
  width: 50px;
}

#volume-slider {
  background-color: transparent;
  position: absolute;
  outline: none;
  appearance: none;
  bottom: 10%;
  left: 0; /* Align it with the left edge of its parent element */
  width: 100%; /* Take up the full width of its parent element */
  height: 100%;
  -webkit-appearance: slider-vertical;
}
#volume-slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #d3d3d3;
  z-index: -1;
  overflow: hidden;
}
#volume-slider::-moz-range-track {
  width: 5px;
  background-color: #d3d3d3;
  appearance: none;
  border-radius: 999px;
}
#volume-slider::-moz-range-thumb {
  appearance: none;
  border-color: transparent;
}
#volume-slider::-moz-range-progress {
  background: #d3d3d3;
  border-radius: 50px;
  height: 5px;
}

#particles-js {
  width: 100vw;
  height: 100vh;
}

.slider {
  appearance: none;
  width: 100%;
  height: 25px;
  background: transparent;
  outline: none;
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #d3d3d3;
  z-index: -1;
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #aeaeae;
  border-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #aeaeae;
  border-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.slider::-webkit-slider-runnable-track {
  background: transparent;
}

.slider::-moz-range-progress {
  background: #aeaeae;
  border-radius: 50px;
  height: 5px;
}

#icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: auto;
}
#icons .icon, #icons #discord-icon {
  display: flex;
}
#icons .icon {
  width: 48px;
  height: 48px;
}
#icons * {
  padding: 0.5rem;
}

/*# sourceMappingURL=index.css.map */
